<h3>Learn how to make these cuisines from your community of teachers!</h3>
<% @user.wants_to_learn.each do |learn_interest| %>
  <% if (learn_interest.cuisine.teachers.length == 1 && learn_interest.cuisine.teachers.include?(current_user)) %>
  <% else %>
    <h5 class="jumbotron">Learn <%= learn_interest.cuisine.name %> recipes from ...</h5>
    <div class="row">
      <% learn_interest.cuisine.teachers.each do |teach_interest| %>
        <% if teach_interest.user != current_user %>
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-body">
                <% if teach_interest.user.avatar_file_name != nil %>
                  <%= image_tag teach_interest.user.avatar.url(:thumb)%>
                <% else %>
                  <%= image_tag("default_avatar.png", class:"img-rounded img-responsive avatar-thumbs")%>
                <% end %>
                <h5><%= link_to teach_interest.user.name, profile_path(teach_interest.user.id) %></h5>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<h3>For those cuisines that you are able to teach, here are your students!</h3>
<% @user.wants_to_teach.each do |teach_interest| %>
  <h5>Teach <%= teach_interest.cuisine.name %> recipes to ...</h5>
  <div class="row">
    <% teach_interest.cuisine.teachers.each do |learn_interest| %>
      <% if learn_interest.user != current_user %>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <h2><%= link_to learn_interest.user.name, profile_path(learn_interest.user.id) %></h2>
              <div>
              <% if learn_interest.user.avatar_file_name != nil %>
                <%= image_tag learn_interest.user.avatar.url(:thumb) %>
              <% else %>
                <%= image_tag("default/avatar.png", class:"img-rounded img-responsive avatar-thumbs")%>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
