<div class="row">
  <div class= "col-xs-3 panel panel-default">
    <div class="panel-body">
      <div class="row">
        <% if @user.avatar.exists? %>
          <%=image_tag(@user.avatar.url(:medium), class:"profile-image img-responsive")%>
        <% else %>
          <%=image_tag("default_avatar.png", class:"profile-image img-responsive")%>
        <% end %>
        <h3><%= @user.name %></h3>
        <ul> <%= "wants to learn how to cook..." %>
          <% @user.wants_to_learn.each do |thing| %>
            <li>
              <%= thing.cuisine.name %>
            </li>
          <% end %>
        </ul>

        <ul> <%= "can teach you how to cook..." %>
          <% @user.wants_to_teach.each do |thing| %>
            <li>
              <%= thing.cuisine.name %>
            </li>
          <% end %>
        </ul>
      </div>
      <h5><p><%= @user.my_story %></p></h5>
      <h5>Joined in <%= @user.created_at.strftime("%B %Y") %></h5>
      <% if @user.happy_to_host && @user.happy_to_travel %>
        <p class="italicize">Happy to host and to travel!</p>
      <% elsif @user.happy_to_host %>
        <p class="italicize">Happy to host!</p>
      <% elsif @user.happy_to_travel %>
        <p class="italicize">Happy to travel!</p>
      <% end %>
    </div>
    <div>
      <% if @user==current_user %>
        <%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-default" %>
      <% end %>
    </div>
  </div>
  <div class= "col-xs-1"></div>

  <div>
    <% @user.recipes.each do |recipe|%>
      <div class= "col-xs-8 panel panel-default pull-right">
        <div class="panel-body">
          <div class="col-md-4">
            <strong><%= recipe.name %> </strong>
            <% if recipe.pic.exists? %>
              <%= link_to image_tag(recipe.pic.url, class:"thumb-image img-responsive"), recipe_path(recipe.id)%>
            <% else %>
              <%= link_to "Check it out!", recipe_path(recipe.id)%>
            <% end %>
          </div>
          <div class="col-md-8 italicize">
            <%= recipe.description %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
