<h1>i made it to the interest partial</h1>

<div class="nested-fields">
  <div class="form-group">
    <%= f.collection_select(:cuisine_id, Cuisine.all, :id, :name) %><br />
    <%= f.number_field :user_id, value: current_user.id %>
    <%= f.number_field :cuisine_id, value: cuisine.id %>
    <%= f.check_box :learn, value: true %>
  </div>
  <div class="form-group">
    <%= f.check_box :done %>
    <%= f.label :done %>
    <%= link_to_remove_association "remove interest", f %>
  </div>
</div>
