<h2>Edit<%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


    <div class="field form-group pull-right">
      <%= f.label "Provide a photo for your profile!" %> <br />
      <%= f.file_field :avatar %>
    </div></br>

    <div class="form-group">
      <%= f.text_field :name, autofocus: true, placeholder: "First and Last Name" %>
    </div>

    <div class="form-group">
      <%= f.email_field :email, placeholder: "email@email.com" %>
    </div>

    <div class="form-group">
      <%= f.text_area :my_story, placeholder: "Tell our community a little bit about youreself!" %>
    </div>

    <div class="form-group">
      <%#= f.number_field :zip_code, placeholder: "Zip Code" %>
    </div>

    <p>We know that you will connect with so many passionate chefs through PlateToPlate.<br />Let your connections know if you'd be open to hosting a 'cooking date' or if you'd enjoy traveling for one!</p>

    <div class="form-group">
      <%= f.label "Happy to Host?" %>    <%= f.check_box :happy_to_host%>
      <%= f.label "Happy to Travel?" %>    <%= f.check_box :happy_to_travel %>
    </div>

    <div id="interest">
      <%= f.fields_for :interests do |ff| %>
        <%= render 'interest_fields', f: ff %>
      <% end %>

      <div class = "links">
        <%= link_to_add_association 'Add Interest', f, :interests %>
      </div>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
