<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="form-horizontal">
    <div class="form group">
      <label class="col-md-2">Name of Recipe</label>
      <div class="col-md-10">
        <%= f.text_field :name, class: "form-control", placeholder:"Name" %>
      </div>
    </div>

    <div class="form group">
      <label class="col-md-2">Type of Cuisine</label>
      <div class="col-md-10">
        <%= f.collection_select(:cuisine_id, Cuisine.all, :id, :name) %><br />
        <%= f.text_area :description, class:"form-control", placeholder:"How did you learn this recipe?  What makes it delicious?", rows: 10 %>
        <%= f.text_area :ingredients, class:"form-control", placeholder:"Ingredients Needed", rows: 10 %>
        <%= f.text_area :instructions, class:"form-control", placeholder:"Instructions", rows: 10 %>
        <%= f.text_area :expected_time, placeholder:"Expected Time (in minutes)", rows: 1 %> Minutes
        <br />

        <div class="field pull-right">
          <%= f.label "Add a photo!" %>
          <%= f.file_field :pic %>
          <% if @recipe.pic_file_name != nil %>
             <%= image_tag @recipe.pic.url(:thumb) %>
             <!-- <%#= f.label "Remove Photo" %> -->
             <!-- <%#= f.check_box :remove_pic %> -->
          <% end %>
        </div>
        <br /><br />
        <div class="action-group">
          <%= f.submit "Publish Recipe", class:"btn btn-default"%>
          <%= link_to 'Remove Recipe', @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
          <%= link_to 'Back', :back, class:"btn btn-default" %>
        </div>
      </div>
    </div>
  </form>

  <div class="form-group cant-see-me">
    <%= f.number_field :user_id, value: current_user.id %>
  </div>
<% end %>
