<h1>Recipes#index</h1>
<p>Find me in app/views/recipes/index.html.erb</p>

<% @recipes.each do |recipe|  %>
  <p id="notice"><%= notice %></p>
  <div class = "container">

<div class="bd-example"
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Shared Recipe</h4>
        <%= link_to recipe.name, recipe_path(recipe), class:"btn btn-primary" %>
        <h5>Expected Time (in minutes)</h5>
        <%= recipe.expected_time %>
        <h5>Ingredients</h5>
        <%= recipe.ingredients %>
        <h5>Instructions</h5>
        <%= recipe.instructions %>


      </div>
    </div>
  </div>

  

  <% if recipe.pic_file_name != nil %>
        <%= image_tag recipe.pic.url(:medium) %>
     <% end %>
  </div>

<% end %>
