<h4>Shared Recipe</h4>
<div class="panel panel-primary">
  <div class="panel heading"> 
    <%= @recipe.name%>
  </div>
</div> <!-- remove if you want other stuff on this panel -->

<h4>Expected Time</h4>
<div class="panel panel-primary">
  <div class="panel heading"> 
  <%= @recipe.expected_time %>
  </div>
</div>

<h4>Ingredients</h4>
<div class="panel panel-primary">
  <div class="panel heading"> 
    <%= @recipe.ingredients %>
  </div>
</div> 

<h4>Instructions</h4>
<div class="panel panel-primary">
  <div class="panel heading"> 
  <%= @recipe.instructions %>
  </div>
</div><!--panel without a 'panel-body'-->

<div class="panel-body">
  by <strong><%= link_to @recipe.user.username,
  user_recipes_path(id: @recipe.user.id) %></strong>
  <span class="posted at">posted at: <%= @recipe.created_at.strftime('%m/%d/%Y at %I:%M%p') %></span><br />
</div><!--this is a disembodied 'body'-->


  <% if user_signed_in? %>
     <% if current_user.id == @recipe.user.id %>
        <div class="panel-footer">
        <%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-warning" %>
         <%= link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div><!--footer without a panel to live in-->
      <% end %>
  <% end %>
  
