<h1>What are your interests?</h1>

<%= form_for(@user, url: user_registration_path) do |f| %>
  <div id="interest">
    <%= f.fields_for :interests do |ff| %>
      <%= render 'interest_fields', f: ff %>
    <% end %>

    <div class = "links">
      <%= f.label "Which cuisines are you interested in either learning from OR teaching to others in your community?" %>
      <%= link_to_add_association 'Add Cuisine', f, :interests %>
    </div><br />
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>

<% end %>
